.startupcard-main {
    width: 350px;
    height: 200px;
    background-color: #303026;
    position: relative;
    transition-duration: 0.1s;
    margin: 20px;
    margin-top: 50px;
}

.startupcard-main:hover {
    cursor: pointer;
    transform-style: preserve-3d;
    transform: scale(1.04, 1.04);
    background-color: #353535;
    transition-duration: 0.1s;
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.466);
}

.startupcard-main:active {
    background-color: goldenrod;
    transition-duration: 0s;
}

.startupcard-img {
    float: left;
    width: 85px;
    height: 85px;
    margin-left: 10px;
    margin-top: 10px;
}

.startupcard-title {
    margin-top: 18px;
    font-size: 28px;
    float: left;
    margin-left: 15px;
}

.startupcard-subs {
    padding-top: 3px;
    float: left;
    margin-left: 12px;
    font-family: "Open Sans", sans-serif;
    color: antiquewhite;
    width: 200px;
}

.startupcard-revenue {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    position: absolute;
    top: 130px;
    left: 15px;
}

.startupcard-cert {
    position: absolute;
    top: 160px;
    left: 15px;
}
