.main {
  width: 100%;
  color: white;
}

.left {
  float: left;
  width: 50%;
  margin-top: 13vh;
}

.jumbotron-title {
  padding-left: 10%;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  margin-bottom: 0px;
  /* width: 50%; */
}

.jumbotron-subs {
  padding-left: 10%;
  margin-top: 3%;
  font-size: 1.5vw;
  /* width: 40%; */
  font-family: "Open Sans", sans-serif;
  color: antiquewhite;
}

.jumb-cards {
  width: 40%;
  float: right;
  display: flex;
  justify-content: space-evenly;
}

.jumb-card {
  background-color: #212121;
  border-radius: 10px;
  border: 1px solid rgb(131, 99, 19);
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 13vw;
  margin-bottom: 30px;
}

.card-content {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
