*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


.mainwrap{
    overflow-x: hidden;
}
.navbar-main {
    text-align: center;
    width: 100%;
    
    
}

.inside-navbar {
    position: fixed;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    margin-top: 15px;
    z-index: 10;
    border-radius: 4px;
   
    background-color: #141414;
    text-align: center;
    height: 60px;
    padding: 0px;
    padding-left: 2%;
    border: 1px solid rgb(122, 93, 18);
    transition-duration: 0.4s;
}
.inside-navbar::-webkit-scrollbar {
    display: none;
}
.inside-navbar-scrolled {
    position: fixed;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    margin-top: 5px;
    z-index: 10;
    border-radius: 4px;
    background-color: #141414;
    text-align: center;
    height: 50px;
    padding: 0px;
   
    padding-left: 2%;
    border: 1px solid rgb(128, 125, 121);
    transition-duration: 0.4s;
}
.inside-navbar-scrolled::-webkit-scrollbar{
    display: none;
}
.ideaup {
    color: rgb(219, 216, 216);
    font-family: "Montserrat", sans-serif;
    float: left;
    font-size: 32px;
    vertical-align: middle;
    font-weight: 900;
    padding-top: 10px;
    margin: 0px;
    transition-duration: 0.2s;
}

.ideaup-scrolled {
    color: rgb(219, 216, 216);
    font-family: "Montserrat", sans-serif;
    float: left;
    font-size: 32px;
    vertical-align: middle;
    font-weight: 900;
    padding-top: 5px;
    margin: 0px;
    transition-duration: 0.2s;
}

.ideaup:hover {
    text-shadow: 1px 4px 4px rgb(122, 93, 18);
    transition-duration: 0.2s;
}

.ideaup-scrolled:hover {
    text-shadow: 1px 4px 4px rgb(122, 93, 18);
    transition-duration: 0.2s;
}

.nav-button {
    float: right;
  
    font-size: 18px;
    padding: 0px;
    margin-top: 18px;
    margin-right: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.2s;
}

.nav-button-scrolled {
    float: right;
    font-size: 18px;
    padding: 0px;
    margin-top: 12px;
    margin-right: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.2s;
}

.but-nav {
    color: #ffffff;
}

.but-nav:hover {
    color: rgb(4, 176, 255);
    text-shadow: 0 2px 20px #ffffff, 0 1px 40px #ffffff;
}

@media screen and (min-width:460px) and (max-width:580px) {
.but-nav{
    font-size: 12px;
}
    
}
@media screen and (min-width:516px) and (max-width:580px) {
    .but-nav{
        font-size: 16px;
    }
        
    }
@media screen and (max-width:460px) {
        

.but-nav{
    font-size:10px ;
}

 }
            